.parent-box {
  display: flex;
}
.item1 {
  background-color: lightpink;
  display: flex;
  width: 150px;
  justify-content: center;
  align-items: center;
}
.item2 {
  background-color: lightblue;
  width: 100%;
  height: 100px;
}
