.item1 {
  width: 150px;
  background-color: lightpink;
}
.item2 {
  width: 100%;
  background-color: lightblue;
}
.parent {
  display: flex;
  height: 60px;
}
.child {
  display: flex;
  justify-content: space-between;
}
p {
  margin: 0;
}
.element1,
.element2 {
  background-color: black;
  color: white;
}
